<mat-stepper linear #stepper dir="rtl">
    <mat-step [stepControl]="formGroup">
        <form class="form-signin" [formGroup]="formGroup">
            <ng-template matStepLabel>الخطوة الاولى تسجيل الدخول</ng-template>
            <div class="wrapper">

                <h2 class="form-signin-heading">تسجيل الدخول</h2>
                <input type="text" class="form-control" name="username" placeholder="أسم المستخدم" required="true"
                    autofocus="true" formControlName="username">
                <input type="password" class="form-control" name="password" formControlName="password"
                    placeholder="كلمة المرور" required="true">

                <button class="btn btn-lg btn-primary btn-block" (click)='login(stepper)'>تسجيل الدخول</button>

            </div>

        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup" style="text-align: center; margin-top: 5%;">
            <ng-template matStepLabel>الخطوة الثانية اختر الشركة</ng-template>
            <mat-form-field appearance="outline" class="input-layout-width-50">
                <mat-label>اختر الشركة</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="food" formControlName="companyList" required>
                  <mat-option *ngFor="let companies of userComanyList" [value]="companies">
                    {{companies.companyName}}
                  </mat-option>
                </mat-select>
                <mat-hint>قم باختيار الشركة من القائمة</mat-hint>
              </mat-form-field>
            <div>
                <button mat-raised-button class="btn-info-size" (click)='tOCommercialTransactions()' >عرض المعاملات التجارية للشركة</button>
            </div>
        </form>
    </mat-step>

</mat-stepper>