<div class="contents font">
    <div class="glasses">
        <div class="content-header">
            <div class="header ">
                
              <h1 class="font" style="display: flex; align-items: center;"><mat-icon>home</mat-icon><span class="font">المعاملات التجارية</span></h1>
            </div>
              <div class="views">


                <div class="col" style="margin: 20px 0;">
                  <form [formGroup]="secondFormGroup" style="text-align: center;">
                    <mat-form-field appearance="outline" class="input-layout-width-50 font">
                      <mat-label>اختر الشركة</mat-label>
                      <mat-select [(ngModel)]="selectedValue" name="setting" (selectionChange)="onChangeItem($event)" 
                       formControlName="companyList">
                        <mat-option *ngFor="let companies of usercompanies" [value]="companies">
                          {{companies.companyName}}
                        </mat-option>
                      </mat-select>
                      <mat-hint>قم باختيار الشركة من القائمة</mat-hint>
                    </mat-form-field>
                  </form>
                </div>



                <div class="example-action-buttons">
                  <button mat-raised-button (click)="accordion?.openAll()" style="margin-left: 10px;"
                   class="font">عرض الكل</button>
                  <button class="font" mat-raised-button (click)="accordion?.closeAll()">طي الكل</button>
                </div>
                <mat-accordion class="example-headers-align font" multi>
                  <mat-expansion-panel expanded>
                    <mat-expansion-panel-header>
                      <mat-panel-title class="table-head " >
                        الفواتير
                      </mat-panel-title>
                     
                    </mat-expansion-panel-header>
                
                      
                      <!-- invoice data here ========================================== -->

                      <div class="table-data-EMFETA font" *ngIf='viewInfoStatus'>

                        <div class="search">
                          <mat-form-field appearance="outline" class="font">
                            <mat-label>بحث</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="بحث" #input>
                            <mat-icon matSuffix>search</mat-icon>
                          </mat-form-field>
                        </div>

                        <table mat-table [dataSource]="resultCompanyData" class="mat-elevation-z8 font">

                          <!-- Checkbox Column -->
                          <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                              <mat-checkbox (change)="$event ? masterToggle() : null"
                                            [checked]="selection.hasValue() && isAllSelected()"
                                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                                            [aria-label]="checkboxLabel()">
                              </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                              <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? selection?.toggle(row) : null"
                                            [checked]="selection.isSelected(row)"
                                            [aria-label]="checkboxLabel(row)">
                              </mat-checkbox>
                            </td>
                          </ng-container>
                        
                          <!-- Position Column -->
                          <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef class="table-head"> رقم الفاتورة </th>
                            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                          </ng-container>
                        
                          <!-- Name Column -->
                          <ng-container matColumnDef="state">
                            <th mat-header-cell *matHeaderCellDef class="table-head"> حالة الفاتورة </th>
                            <td mat-cell *matCellDef="let element"> {{element.state}} </td>
                          </ng-container>
                        
                          <!-- Weight Column -->
                          <ng-container matColumnDef="errors">
                            <th mat-header-cell *matHeaderCellDef class="table-head"> سبب الرفض </th>
                            <td mat-cell *matCellDef="let element"> {{element.errors}} </td>
                          </ng-container>
                        
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                              (click)="selection.toggle(row)">
                          </tr>
                        </table>
                        

                        </div>
                        <mat-paginator dir="ltr" [hidden]='!viewInfoStatus' [pageSizeOptions]="[5, 10, 20]"
                              showFirstLastButtons >
                        </mat-paginator>

                        <div class="no-informations" *ngIf='!viewInfoStatus' style="text-align: center;">
                          <h2> <span class="font info-class" >لا يوجد بيانات</span> </h2>
                        </div>

                        
                      <!-- Copyright 2021 Google LLC. All Rights Reserved.
                          Use of this source code is governed by an MIT-style license that
                          can be found in the LICENSE file at http://angular.io/license -->

                      <!-- end invoice data here ========================================== -->

                  </mat-expansion-panel>
                  <mat-expansion-panel >
                    <mat-expansion-panel-header>
                      <mat-panel-title class="table-head font">
                      Custom View
                      </mat-panel-title>
                      
                    </mat-expansion-panel-header>
                
                   <app-customer-company-view></app-customer-company-view>
                  </mat-expansion-panel>
                
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title class="table-head font">
                        Invoice Company View
                      </mat-panel-title>
                      
                    </mat-expansion-panel-header>
                
                    <app-invoice-company-view></app-invoice-company-view>
                  </mat-expansion-panel>

                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title class="table-head font">
                        Invoice Line Company View
                      </mat-panel-title>
                     
                    </mat-expansion-panel-header>
                
                    <app-invoice-line-company-view></app-invoice-line-company-view>
                  </mat-expansion-panel>
                </mat-accordion>

                
                <button mat-raised-button color="primary" (click)='sendData()' class="btn-info-size font">ارسال بيانات</button>
              </div>
              
          </div>
    </div>
</div>