/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: cairo;
  src: url(./assets/fonts/Cairo-Bold.ttf) format("truetype");
  src: url(./assets/fonts/Cairo-Black.ttf) format("truetype");
  src: url(./assets/fonts/Cairo-ExtraLight.ttf) format("truetype");
  src: url(./assets/fonts/Cairo-Light.ttf) format("truetype");
  src: url(./assets/fonts/Cairo-Regular.ttf) format("truetype");
}
html,
body {
  height: 100%;
  
}
body {
  margin: 0;
  font-family: cairo, arial, sans-serif;
  height: 100vh;
}

.font {
  font-family: cairo, arial, sans-serif;
}

div.content-header {
  border-right: 7px solid #eaafc8;
  height: 60px;
  margin: 20px 30px;
  border-radius: 5px;
  background: -webkit-linear-gradient(to right, #f2dde6, #a998d9);
  background: linear-gradient(to right, #f2dde6, #a998d9);
  box-shadow: 0 10px 20px #ddd;

  & .header {
    display: flex;
    align-items: center;
    margin: 0 50px;
    padding: 0;
    color: white;
    width: 100%;
    height: 100%;
    & h1 {
      margin-bottom: 0;
    }
    & mat-icon {
        font-size: 25px;
        margin-left: 15px;
    }
  }

  & .views {
    margin-top: 20px;
    height: 70vh;
    overflow: auto;
  }
}

div.glasses {
  margin: 0 20px;
  height: 100vh;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
    margin: -20px;
  }

}

a.page-link-info i {
  color: #eb639c;
}

.views::-webkit-scrollbar, .content-page::-webkit-scrollbar {
  width: 7px;
}

.views::-webkit-scrollbar-track, .content-page::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.views::-webkit-scrollbar-thumb, .content-page::-webkit-scrollbar-thumb {
  background-color: #868686;
  border-radius: 100px;
}

mat-form-field.input-layout-width {
  width: 100%;
}

mat-form-field.input-layout-width-50 {
  width: 50%;
}

div.row {
  margin-top: 10px;
}

button.btn-info-size {
  font-size: 20px;
  margin: 20px 0 0 10px;
}

.success-toaster {
  background-color: #47b947;
  color: white;
  font-weight: bold;
  & .mat-button-wrapper {
    color: white;
  }
}

.warning-toaster {
  background-color: #d89f4a;
  color: white;
  font-weight: bold;
  & .mat-button-wrapper {
    color: white;
  }
}

.danger-toaster {
  background-color: #d45555;
  color: white;
  font-weight: bold;
  & .mat-button-wrapper {
    color: white;
  }
}

div.table-data-EMFETA {
  margin-top: 10px;
}

mat-panel-title.table-head {
  color: rgb(56, 115, 182);
  font-size: 25px;
  font-weight: bolder;
}

table {
  width: 100%;

  & th.table-head {
    color: rgb(56, 115, 182);
    font-size: 20px !important;
  }
}

span.info-class {
  color: #d45555;
  font-weight: bolder;
}